<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>
        <p th:text="#{detail.view}">detail.view</p>
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:text="#{main.menu}">main.menu</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/" th:text="#{new.visit}">new.visit</a>
            <a class="nav-item nav-link" href="/visits" th:text="#{all.visits}">all.visits</a>
        </div>
    </div>
</nav>
<div class="container">
    <form action="#" th:action="@{/update(visitId=${visit.id})}" th:object="${visit}" method="POST">
        <!-- Adding  a hidden form field for update handling -->
        <input type="hidden" th:field="*{id}"/>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <p th:text="#{detail.view}">detail.view</p>
                </th>
                <th>
                    <!--Delete button-->
                    <a th:href="@{/delete(visitId=${visit.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Oled Sa kindel, et soovid registreerimist kustutada?'))) return false"
                       th:text="#{delete.button}">
                        delete.button
                    </a>
                </th>
            </tr>
            </thead>
            <tr>
                <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
                <td><input type="text" th:value="*{dentistName}"/></td>
            </tr>
            <tr>
                <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
                <td><input type="text" th:value="*{visitTime}"/></td>
            </tr>
        </table>
        <!--Update button-->
        <button type="submit" class="btn btn-info btn-sm"
                onclick="if (!(confirm('Oled Sa kindel, et soovid registreerimist muuta?'))) return false"
                th:text="#{update.button}">
            update.button
        </button>
    </form>
</div>
</body>
</html>