<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>
        <p th:text="#{new.visit}">new.visit</p>
    </title>
</head>
<body>
<!-- Main menu, navigation between new visit form and all visits -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:text="#{main.menu}">main.menu</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/" th:text="#{new.visit}">new.visit</a>
            <a class="nav-item nav-link" href="/visits" th:text="#{all.visits}">all.visits</a>
        </div>
    </div>
</nav>
<div class="container">
    <form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <p th:text="#{register.form}">register.form</p>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
                <td>
                    <div class="custom-select" style="width:200px;">
                        <select th:field="*{dentistName}">
                            <option value="Rain Mangus">Rain Mangus</option>
                            <option value="Ants-Erik Noormagi">Ants-Erik Noormagi</option>
                            <option value="Tauno Oja">Tauno Oja</option>
                            <option value="Eevald Razumov">Eevald Razumov</option>
                        </select>
                    </div>
                </td>
                <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td>
            </tr>
            <tr>
                <!-- Plain selection for the time of the appointment -->
                <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
                <td>
                    <input type="datetime-local" id="appointment"
                           min="2020-09-28T00:00" max="2020-12-31T23:59"
                           th:field="*{visitTime}" style="width:200px;"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" th:text="#{register.button}">register.button</button>
        <br/>
        <p style="color:red; font-size:160%;" th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">
            Kuupäeva viga</p>
    </form>
</div>
</body>
</html>