<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>
        <p th:text="#{visit.confirmation}">visit.confirmation</p>
    </title>
</head>
<body>
<!-- Main menu, navigation between new visit form and all visits -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:text="#{main.menu}">main.menu</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/" th:text="#{new.visit}">new.visit</a>
            <a class="nav-item nav-link" href="/visits" th:text="#{all.visits}">all.visits</a>
        </div>
    </div>
</nav>
<p th:text="#{registreerimine.ok}">registreerimine.ok</p>
</body>
</html>